.section__pagination {
  display: flex;
  flex-flow: column;
  align-items: center;

  max-width: 1200px;
  margin: auto;

  background-color: antiquewhite;
}

.pagination__cards {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 400px) {
    grid-template-columns: 1fr;
  }
}
